// Libraries
import React{{#getReactImports reactImports}}{{this}}{{/getReactImports}} from 'react';
{{#if options.propTypes}}
import PropTypes from 'prop-types';
{{/if}}
{{#if options.withRouter}}
import { withRouter } from 'react-router-dom';
{{/if}}

{{!-- Component declaration as arrow function --}}
{{#if options.declareAsConst}}
const {{pascalCase name}} = props => {
{{!-- Component declaration as regular function --}}
{{else}}
export default function {{pascalCase name}}(props) {
{{/if}}
{{#if options.useState}}
  // State
  const [state, setState] = useState(null);
{{/if}}
{{#if options.useRef}}
  // Refs
  const someRef = useRef(null);
{{/if}}
{{#if options.useEffect}}
  // Effects
  useEffect(() => {

  }, []);
{{/if}}
{{#if options.useLayoutEffect}}
  // Layout Effects
  useLayoutEffect(() => {

  }, []);
{{/if}}

  return (

  );
};

const styles = {
  someStyle: {
    //
  },
};

{{!-- Adds propTypes boilerplate --}}
{{#if options.propTypes}}
{{pascalCase name}}.propTypes = {

};

{{pascalCase name}}.defaultProps = {

};
{{/if}}

{{#if options.propTypes}}
  {{#unless options.withRouter}}
export default {{pascalCase name}};
  {{/unless}}
{{/if}}
{{#if options.withRouter}}
export default withRouter({{pascalCase name}});
{{/if}}
