.mode-switcher-holder {
  height: 70px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 5px 0;
}
.mode-switcher-holder .fake-border {
  cursor: pointer;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 0.25em #000 inset;
}
#mode-switcher {
  margin-bottom: 0;
  justify-content: space-around;
  border-bottom-width: 0;
  align-items: center;
  width: 100%;
  position: relative;
  height: 60px;
  z-index: 2;
  overflow-y: visible;
}
#mode-switcher.trainer .switch-holder {
  margin-left: -75%;
}
#mode-switcher img {
  max-height: 40px;
  width: auto;
  margin: 0 0.5em;
}
#mode-switcher .switch-holder {
  transition-duration: 0.5s;
  width: 200%;
  height: 100%;
  overflow: visible;
  position: absolute;
  display: flex;
  cursor: pointer;
}
#mode-switcher .switch-holder .pokefan {
  cursor: pointer;
  height: 100%;
  width: 40%;
  display: flex;
  padding-left: 1.5em;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../images/sidebar.png');
  background-color: tan;
}
#mode-switcher .switch-holder .switcher-knob {
  background: #eee;
  border: 1px solid #333;
  margin-top: -5px;
  z-index: 3;
  margin-bottom: -5px;
  width: 6.5%;
  box-shadow: -0.25em 0 1em #0006, inset 0 0 0.25em rgba(0, 0, 0, 0.6);
}
#mode-switcher .switch-holder .trainer {
  cursor: pointer;
  height: 100%;
  width: 45%;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('../../images/60-lines.png');
  background-color: #ecbaf9;
  color: black;
}
