#pokedex #pokelist {
  flex-grow: 1;
  border: 2px solid black;
  overflow: auto;
  position: relative;
}
#pokedex #pokelist.pokefan {
  background: #3B58A6;
}
#pokedex #pokelist.pokefan .pokentry {
  color: #FFCB05;
}
#pokedex #pokelist.pokefan .pokentry.selected {
  background: #FFCB05;
  height: 96px;
}
#pokedex #pokelist.pokefan .pokentry:not(.selected):hover {
  background: #ce0000;
  color: white;
}
#pokedex #pokelist.trainer {
  background: #999;
}
#pokedex #pokelist.trainer .pokentry {
  color: #000;
  font-family: monospace;
  font-size: 1.2em;
}
#pokedex #pokelist.trainer .pokentry.selected {
  background: #ecbaf9;
}
#pokedex #pokelist.trainer .pokentry:not(.selected):hover {
  background: black;
  color: white;
}
#pokedex #pokelist .cover {
  cursor: pointer;
  background: #333;
  background-image: url('../../images/padded.png');
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: 0 0 0.5em black;
  border-top: 2px solid #333;
}
#pokedex #pokelist .pokentry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 44px;
  transition-duration: 0.25s;
  transition-property: height;
  padding-left: 0.5em;
}
#pokedex #pokelist .pokentry.selected {
  position: sticky;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
}
#pokedex #pokelist .pokentry .sprite-holder {
  height: 100%;
}
#pokedex #pokelist .pokentry .sprite-holder img {
  max-width: 100%;
  max-height: 100%;
}
