#pokedex #pokemon-detail {
  flex-basis: 425px;
  min-width: 425px;
  padding: 1em;
  margin-right: 3.5%;
  height: 100%;
  overflow-y: auto;
}
#pokedex #pokemon-detail.pokefan {
  box-shadow: inset 0.25em 0 0.5em #0009;
  background-image: url('../../images/brushed-alum-dark.png');
  background-color: tan;
  font-family: fantasy;
}
#pokedex #pokemon-detail.trainer {
  background-color: #090c19;
  color: #ecbaf9;
  font-family: monospace;
}
#pokedex #pokemon-detail #name-and-art .name {
  font-size: 2em;
  margin-bottom: 0.25em;
  white-space: nowrap;
}
#pokedex #pokemon-detail #name-and-art .name strong {
  font-weight: normal;
}
#pokedex #pokemon-detail #name-and-art .picture-and-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#pokedex #pokemon-detail #name-and-art .picture-and-description .description {
  padding: 0.5em 0;
  margin: unset;
  margin-right: 1em;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  flex-basis: 400px;
  flex-grow: 1;
}
#pokedex #pokemon-detail #name-and-art .picture-and-description .img-holder {
  flex-grow: 1;
  max-width: 250px;
  height: auto;
  margin-right: 2.5em;
  flex-basis: 200px;
  min-width: 200px;
}
#pokedex #pokemon-detail #name-and-art .picture-and-description .img-holder img {
  max-width: 100%;
  height: auto;
}
