#pokedex #searchbar {
  z-index: 3;
  width: 265px;
}
#pokedex #searchbar.pokefan .background-holder {
  background: #ce0000;
  background-image: url('../../images/black-linen.png');
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset -2px 0 0.25em rgba(0, 0, 0, 0.6), 1px 0 1px rgba(0, 0, 0, 0.9);
}
#pokedex #searchbar.trainer .background-holder {
  background: linear-gradient(90deg, #1b0b1a, #000);
  box-shadow: inset -2px 0 0.25em #ecbaf9aa;
}
#pokedex #searchbar .background-holder {
  padding: 1em;
  height: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition-duration: 0.25s;
  overflow: hidden;
}
#pokedex #searchbar .background-holder > *:not(:last-child):not(#mode-switcher) {
  margin-bottom: 1em;
}
#pokedex #searchbar .logo-holder {
  display: flex;
  height: 75px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
#pokedex #searchbar .logo-holder img.logo {
  max-width: 100%;
}
#pokedex #searchbar input {
  font-size: 20px;
  border: 2px solid #3B58A6;
  padding: 0.5em;
}
