#trainer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#trainer-details .name-and-type {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  padding-right: 50px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
#trainer-details .name-and-type > * {
  margin-bottom: 20px;
}
#trainer-details .name {
  font-size: 2em;
  margin-right: 1em;
}
#trainer-details .types {
  display: flex;
  font-size: 1.5em;
  overflow: hidden;
  border-radius: 5em;
  border: 2px solid black;
}
#trainer-details .types .type {
  padding: 0.25em 0.5em;
  color: black;
}
#trainer-details .types .type:not(:last-child) {
  border-right: 2px solid black;
}
#trainer-details .stats {
  display: flex;
  flex-wrap: wrap;
}
#trainer-details .stats .stat-row {
  display: flex;
}
#trainer-details .stats .stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3em;
  margin-bottom: 2em;
  width: 7em;
  justify-content: flex-end;
}
#trainer-details .stats .stat .stat-label {
  width: 100%;
  border-bottom: 1px solid #ecbaf955;
  text-align: center;
  padding-bottom: 5px;
}
#trainer-details .stats .stat .value {
  font-size: 4em;
  margin-top: -3px;
}
