#pokedex #dex-case {
  position: relative;
  flex-grow: 1;
  background: black;

  .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition-duration: .5s;
    box-shadow: 0 0 0.5em black;

    &.open {
      margin-left: 95%;
      cursor: pointer;
    }

    &.trainer {
      background: #090c19;
      background-image: url('../../images/sidebar.png');
      border-left: 1px solid #ecbaf955;
      box-shadow: -.25em 0 1.25em #ecbaf933,
    }

    &.pokefan {
      box-shadow:
        -.25em 0 1em #0006,
        inset 0 2px 3px rgba(255, 255, 255, 0.3),
        inset 2px 0 .25em rgba(0, 0, 0, 0.6);

      background: #FFCB05;
      background-image: url('../../images/padded.png');
    }
  }
}