#pokedex #pokelist {
  flex-grow: 1;
  border: 2px solid black;
  overflow: auto;
  position: relative;

  &.pokefan {
    background: #3B58A6;

    .pokentry {
      color: #FFCB05;

      &.selected {
        background: #FFCB05;
        height: 96px;
      }


      &:not(.selected):hover {

        background: #ce0000;
        color: white;
      }
    }
  }

  &.trainer {
    background: #999;

    .pokentry {
      color: #000;
      font-family: monospace;
      font-size: 1.2em;

      &.selected {
        background: #ecbaf9;
      }

      &:not(.selected):hover {

        background: black;
        color: white;
      }
    }
  }

  .cover {
    cursor: pointer;
    background: #333;
    background-image: url('../../images/padded.png');
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 0 0.5em black;
    border-top: 2px solid #333;
  }

  .pokentry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 44px;
    transition-duration: .25s;
    transition-property: height;
    padding-left: .5em;

    &.selected {
      position: sticky;
      top: 0;
      bottom: 0;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      color: black;
    }

    .sprite-holder {
      height: 100%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}