#pokedex #pokemon-detail {
  flex-basis: 425px;
  min-width: 425px;
  padding: 1em;
  margin-right: 3.5%;
  height: 100%;
  overflow-y: auto;

  &.pokefan {
    box-shadow: inset .25em 0 .5em #0009;
    background-image: url('../../images/brushed-alum-dark.png');
    background-color: tan;
    font-family: fantasy;
  }

  &.trainer {
    background-color: #090c19;
    color: #ecbaf9;
    font-family: monospace;
  }

  #name-and-art {

    .name {
      font-size: 2em;
      margin-bottom: .25em;
      white-space: nowrap;

      strong {
        font-weight: normal;
      }
    }

    .picture-and-description {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      border-bottom: 1px solid black;
      border-top: 1px solid black;


      .description {
        padding: .5em 0;
        margin: unset;
        margin-right: 1em;
        font-size: 1.1em;
        display: flex;
        align-items: center;
        flex-basis: 400px;
        flex-grow: 1;
      }

      .img-holder {
        flex-grow: 1;
        max-width: 250px;
        height: auto;
        margin-right: 2.5em;
        flex-basis: 200px;
        min-width: 200px;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}