#pokedex #searchbar {

  z-index: 3;
  width: 265px;

  &.pokefan {
    .background-holder {
      background: #ce0000;
      background-image: url('../../images/black-linen.png');
      box-shadow:
        inset 0 2px 3px rgba(255, 255, 255, 0.3),
        inset -2px 0 .25em rgba(0, 0, 0, 0.6),
        1px 0 1px rgba(0, 0, 0, 0.9);
    }
  }

  &.trainer {
    .background-holder {
      background: linear-gradient(90deg, #1b0b1a, #000);
      box-shadow:
        inset -2px 0 .25em #ecbaf9aa;

    }
  }

  .background-holder {
    padding: 1em;
    height: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition-duration: .25s;
    overflow: hidden;


    &>*:not(:last-child):not(#mode-switcher) {
      margin-bottom: 1em;
    }
  }

  .logo-holder {
    display: flex;
    height: 75px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    img.logo {
      max-width: 100%;
    }
  }

  input {
    font-size: 20px;
    border: 2px solid #3B58A6;
    padding: .5em;
  }
}