#trainer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .name-and-type {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    padding-right: 50px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;

    &>* {
      margin-bottom: 20px;
    }
  }

  .name {
    font-size: 2em;
    margin-right: 1em;
  }

  .types {
    display: flex;
    font-size: 1.5em;
    overflow: hidden;
    border-radius: 5em;
    border: 2px solid black;

    .type {
      padding: .25em .5em;
      color: black;

      &:not(:last-child) {
        border-right: 2px solid black;
      }
    }
  }

  .stats {
    display: flex;
    flex-wrap: wrap;

    .stat-row {
      display: flex;
    }

    .stat {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 3em;
      margin-bottom: 2em;
      width: 7em;
      justify-content: flex-end;

      .stat-label {
        width: 100%;
        border-bottom: 1px solid #ecbaf955;
        text-align: center;
        padding-bottom: 5px;
      }

      .value {
        font-size: 4em;
        margin-top: -3px;
      }
    }
  }
}